<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LEDOMATOSINATARA</title>
    <link rel="stylesheet" href="css/reset.css" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="top-banner">
      <h1>LEDOMATO</h1>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/">About</a>
        </li>
        <li>
          <a href="/products">Browse Products</a>
        </li>
        <li>
          <a href="/users/new">Register</a>
        </li>
      </ul>
    </nav>

    <div>
      <%= yield %>
    </div>

    <footer>
      <a href="http://about.redmart.com/terms">
        Terms &amp; Conditions
      </a> |
      <a href="#">Foo</a>
    </footer>
  </body>
</html>
