<form action="/users" method="post">

  <div class="form-group">
    <label>First Name* >
      <input type="text" name="user[first_name]">
    </label>
  </div>

  <div class="form-group">
    <label>Last Name* >
      <input type="text" name="user[last_name]">
    </label>
  </div>

  <div class="form-group">
    <label>Email* >
      <input type="text" name="user[email]">
    </label>
  </div>

  <div class="form-group">
    <label>Password* >
      <input type="text" name="user[password]">
    </label>
  </div>

  <div class="form-group">
    <label>Address* >
      <input type="text" name="user[address]">
    </label>
  </div>

  <div class="form-group">
    <label>Credit Card Number >
      <input type="text" name="">
    </label>
  </div>

  <p><em>* compulsory fields</em></p>
    <input type="submit" value="submit">
</form>
