<form action="/users" method="post">

  <div class="form-group">
    <label>
      <input type="text" name="" value="">
    </label>
  </div>

  <div class="form-group">
    <label>
      <input type="button" name="" value="">
    </label>
  </div>

  <div class="form-group">
    <label>
      <input type="text" name="" value="">
    </label>
  </div>

  <div class="form-group">
    <label>
      <input type="button" name="" value="">
    </label>
  </div>

  <div class="form-group">
    <label>
      <input type="text" name="" value="">
    </label>
  </div>

  <div class="form-group">
    <label>
      <input type="button" name="" value="">
    </label>
  </div>


    <input type="submit" value="submit">
</form>
